* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-family: 'Lato', sans-serif;
  background: #222; }

a {
  text-decoration: none;
  color: #fff; }

button {
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: 'Lato', sans-serif; }

input {
  outline: none;
  border: none; }

ul {
  list-style: none; }

.row,
.column {
  display: flex; }

.column {
  flex-direction: column; }

.x-center {
  justify-content: center; }

.y-center {
  align-items: center; }

.split {
  justify-content: space-between; }

.top {
  align-items: flex-start; }

.bottom {
  align-items: flex-end; }

.content {
  padding: 100px 0 0 210px; }
  .content.no-bar {
    padding: 0 0 0 210px; }

.remove {
  opacity: 0;
  visibility: hidden; }

body.light {
  background: #ddd; }
  body.light .sidebar nav.main a.active {
    background: #3a3a3a; }

.hide {
  display: none; }

.overlay {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 501;
  transition: opacity .3s, visibility .3s; }

.logo {
  transform: skewX(-10deg) scaleY(0.95);
  color: #fff;
  font-size: 1.6em;
  padding: 7px 0; }
  .logo span {
    color: #69e200; }

.styles-shadow-light {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); }

header.top-bar {
  background: #444;
  color: #fff;
  padding: 7px 25px 10px;
  border-bottom: 1px solid #222;
  position: fixed;
  left: 0;
  top: 0;
  padding-left: 230px;
  z-index: 300;
  width: 100%; }
  header.top-bar h3 {
    font-size: 1.3em; }
  header.top-bar nav.filter {
    position: relative;
    margin-left: 15px; }
    header.top-bar nav.filter .current {
      padding: 2px 0 3px 5px;
      width: 127px;
      border: 2px solid #fff;
      border-radius: 2px;
      margin-top: 5px;
      cursor: pointer; }
      header.top-bar nav.filter .current span {
        display: inline-block;
        line-height: 1; }
      header.top-bar nav.filter .current .current-text {
        font-size: 1.1em;
        margin-right: 19px;
        width: 85%;
        text-align: center; }
        header.top-bar nav.filter .current .current-text.fade-in {
          animation: fadeIn .3s; }
      header.top-bar nav.filter .current .arrow {
        color: #fff;
        transform: rotate(90deg);
        width: 15%;
        font-size: 1.6em;
        line-height: .9;
        padding-top: 2px;
        position: relative;
        top: 4px;
        right: 5px; }
        header.top-bar nav.filter .current .arrow.up {
          transform: rotate(-90deg);
          position: relative;
          left: -12px;
          top: -3px; }
    header.top-bar nav.filter ul {
      position: absolute;
      top: 40px;
      left: 0;
      background: rgba(100, 100, 100, 0.98);
      transition: max-height .18s;
      width: 127px;
      max-height: 0;
      overflow: hidden; }
      header.top-bar nav.filter ul.show {
        max-height: 145px;
        transition: max-height .2s; }
      header.top-bar nav.filter ul li {
        padding: 8px 10px;
        cursor: pointer; }
        header.top-bar nav.filter ul li.active, header.top-bar nav.filter ul li:hover {
          background: rgba(140, 140, 140, 0.7); }
        header.top-bar nav.filter ul li:not(:last-child) {
          border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

@keyframes fadeIn {
  from {
    opacity: .2; }
  to {
    opacity: 1; } }
@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible; }
  to {
    opacity: 0;
    visibility: hidden; } }
.sidebar {
  background: #222;
  width: 210px;
  height: 100vh;
  position: fixed;
  z-index: 500;
  left: 0;
  top: 0;
  padding: 15px 0; }
  .sidebar nav.main {
    width: 100%; }
    .sidebar nav.main #log {
      margin-top: 20px;
      font-family: 'Lato', sans-serif;
      background: #1e82ed;
      padding: 30px 0 33px;
      width: 100%;
      letter-spacing: .065em;
      transition: background .2s;
      color: #fff;
      position: relative;
      overflow: hidden; }
      .sidebar nav.main #log:after, .sidebar nav.main #log:before {
        content: '';
        position: absolute;
        background: #fff;
        left: 0;
        width: 0;
        height: 1px;
        opacity: .4; }
      .sidebar nav.main #log:after {
        transition: width .2s;
        top: 68px; }
      .sidebar nav.main #log:before {
        transition: width .2s .25s;
        top: 76px; }
      .sidebar nav.main #log:hover {
        background: #3287ff; }
        .sidebar nav.main #log:hover:after {
          width: 40%; }
        .sidebar nav.main #log:hover:before {
          width: 35%; }
        .sidebar nav.main #log:hover span.lines:after {
          width: 45%; }
        .sidebar nav.main #log:hover span.lines:before {
          width: 50%; }
      .sidebar nav.main #log span.lines {
        display: inline-block;
        opacity: .4; }
        .sidebar nav.main #log span.lines:after, .sidebar nav.main #log span.lines:before {
          content: '';
          position: absolute;
          background: #fff;
          left: -40px;
          width: 0;
          height: 1px; }
        .sidebar nav.main #log span.lines:after {
          transition: width .2s .4s;
          top: 18px; }
        .sidebar nav.main #log span.lines:before {
          transition: width .2s .3s;
          top: 25px; }
      .sidebar nav.main #log span.text {
        transform: scaleY(1.03) skewX(-13deg);
        display: inline-block;
        font-size: 1.63em;
        font-weight: 400; }
    .sidebar nav.main a {
      width: 100%;
      text-transform: uppercase;
      transition: background .3s;
      padding-left: 5px; }
      .sidebar nav.main a .fa, .sidebar nav.main a span {
        padding: 23px 0;
        color: #aaa;
        transition: color .2s; }
      .sidebar nav.main a .fa {
        width: 25%;
        text-align: center;
        font-size: 1.4em; }
      .sidebar nav.main a span {
        width: 75%;
        padding-left: 4px; }
      .sidebar nav.main a.active .fa, .sidebar nav.main a.active span, .sidebar nav.main a:hover .fa, .sidebar nav.main a:hover span {
        color: #fff; }
      .sidebar nav.main a.active {
        background: #323232; }
  .sidebar .footer .message, .sidebar .footer .donate {
    width: 170px;
    text-transform: uppercase;
    border-radius: 1px;
    cursor: pointer;
    transition: background .2s; }
  .sidebar .footer .message {
    background: #58be00; }
    .sidebar .footer .message:hover {
      background: #54b400; }
    .sidebar .footer .message .fa, .sidebar .footer .message a {
      color: #222; }
    .sidebar .footer .message .fa {
      font-size: 1.13em;
      margin-right: 10px; }
    .sidebar .footer .message a {
      padding: 15px 0;
      font-size: .9em; }
  .sidebar .footer .donate {
    background: #333;
    padding: 13px 0;
    text-align: center;
    color: #aaa;
    margin-top: 10px; }
    .sidebar .footer .donate:hover {
      background: #373737; }

.login {
  position: fixed;
  top: 12.3%;
  left: 40px;
  right: 0;
  margin: 0 auto;
  z-index: 502;
  background: #2a2a2a;
  width: 400px;
  border-radius: 2px;
  padding-bottom: 35px;
  transition: opacity .3s, visibility .3s; }
  .login .create-text, .login #login-title {
    color: #fff;
    font-weight: 400;
    font-size: 1.7em;
    background: #3c3c3c;
    width: 100%;
    text-align: center;
    padding: 22px 0 24px;
    margin-bottom: 20px; }
    .login .create-text .text-wrap, .login #login-title .text-wrap {
      display: inline-block;
      transform: scaleY(1.03) skewX(-13deg); }
  .login #login-title .text-wrap .green {
    color: #64d800; }
  .login #error {
    color: #f2482e;
    margin-top: -15px;
    padding-bottom: 7px; }
    .login #error:before {
      content: '\2217';
      font-size: 1.3em; }
  .login input {
    padding: 10px;
    font-size: 1.2em;
    width: 300px;
    margin-bottom: 15px;
    border-radius: 1px; }
  .login #login-submit {
    padding: 13px 0;
    width: 300px;
    margin-top: 10px;
    font-size: 1.1em;
    font-weight: 300;
    text-transform: uppercase;
    background: #5dc900;
    transition: background .2s;
    border-radius: 1px; }
    .login #login-submit:hover {
      background: #5bc300; }
    .login #login-submit:active {
      background: #56b900; }
  .login .bottom {
    margin-top: 10px;
    color: #fff; }
    .login .bottom span {
      margin: 0 2px; }
    .login .bottom #register, .login .bottom #forgot {
      cursor: pointer;
      transition: color .2s; }
      .login .bottom #register:hover, .login .bottom #forgot:hover {
        color: #eee; }

.landing {
  height: 85vh;
  background: url(../img/code.jpg) no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1; }
  .landing h1 {
    color: #64d800;
    font-size: 3.6em;
    text-transform: uppercase;
    margin-bottom: 25px; }
  .landing h3 {
    color: #fff;
    font-weight: 100;
    font-size: 2em; }
  .landing .down-button {
    position: absolute;
    bottom: -45px;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 50;
    background: rgba(30, 30, 30, 0.5);
    width: 45px;
    height: 80px;
    border: 2px solid #999;
    border-radius: 30px;
    padding-top: 5px;
    cursor: pointer;
    transition: background .2s; }
    .landing .down-button:hover {
      background: rgba(50, 50, 50, 0.6); }
    .landing .down-button span {
      color: #999;
      transform: rotate(-90deg);
      font-size: 1.9em;
      display: inline-block;
      line-height: .6;
      margin: 3px 3px 0 0; }
      .landing .down-button span:first-child {
        animation: fadeIn .8s infinite; }
      .landing .down-button span:nth-child(2) {
        animation: fadeIn .8s .2s infinite; }
      .landing .down-button span:last-child {
        animation: fadeIn .8s .3s infinite; }

.top-bar .create-btn {
  background: #1e82ed;
  padding: 6px 15px 8px;
  margin: 0 15px -5px 0;
  border-radius: 2px;
  font-size: .95em;
  transition: background .2s; }
  .top-bar .create-btn:hover {
    background: #137beb; }
  .top-bar .create-btn:active {
    background: #1275e0; }

.listing-wrap {
  margin: 0 auto 35px; }
  .listing-wrap .header-text {
    font-weight: 300;
    margin-bottom: 15px;
    background: lightgray;
    padding: 2px 0 5px 25px;
    font-size: 1.2em;
    color: #777; }
  .listing-wrap .details, .listing-wrap .results {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    background: rgba(150, 150, 150, 0.7);
    width: 100%;
    min-height: 100vh;
    padding: 100px 0 25px 210px;
    border-radius: 1px; }
    .listing-wrap .details > div, .listing-wrap .results > div {
      position: relative; }
      .listing-wrap .details > div .admin-panel, .listing-wrap .results > div .admin-panel {
        position: absolute;
        top: 10px;
        left: 15px; }
        .listing-wrap .details > div .admin-panel .fa, .listing-wrap .results > div .admin-panel .fa {
          color: #fff;
          font-size: 1.3em;
          cursor: pointer; }
          .listing-wrap .details > div .admin-panel .fa:hover, .listing-wrap .results > div .admin-panel .fa:hover {
            color: #eee; }
    .listing-wrap .details .info, .listing-wrap .results .info {
      color: #fff;
      width: 400px;
      background: #444;
      padding: 35px 0 25px; }
      .listing-wrap .details .info .title, .listing-wrap .results .info .title {
        color: #fff;
        text-align: center;
        font-size: 1.7em;
        font-weight: 300;
        transform: scaleY(1.03) skewX(-13deg);
        margin-bottom: 25px;
        padding: 0 25px; }
      .listing-wrap .details .info .stream-alert, .listing-wrap .results .info .stream-alert {
        font-weight: 300;
        position: relative;
        top: -15px;
        margin-bottom: -5px; }
        .listing-wrap .details .info .stream-alert h3, .listing-wrap .results .info .stream-alert h3 {
          color: #f9ce31;
          font-style: italic;
          font-weight: 300;
          margin-right: 20px; }
        .listing-wrap .details .info .stream-alert .view-details, .listing-wrap .results .info .stream-alert .view-details {
          background: #4faa00;
          padding: 3px 8px 4px;
          border-radius: 2px;
          cursor: pointer;
          transition: background .2s; }
          .listing-wrap .details .info .stream-alert .view-details .fa, .listing-wrap .results .info .stream-alert .view-details .fa {
            margin-right: 4px;
            font-size: .9em; }
          .listing-wrap .details .info .stream-alert .view-details:hover, .listing-wrap .results .info .stream-alert .view-details:hover {
            background: #4da500; }
          .listing-wrap .details .info .stream-alert .view-details:active, .listing-wrap .results .info .stream-alert .view-details:active {
            background: #489b00; }
      .listing-wrap .details .info .about, .listing-wrap .results .info .about {
        background: #333;
        padding: 12px 25px 25px; }
        .listing-wrap .details .info .about .category, .listing-wrap .results .info .about .category {
          margin-bottom: 10px;
          text-align: center;
          font-weight: 300;
          font-size: 1.3em;
          color: #cfcfcf;
          transform: scaleY(0.95); }
        .listing-wrap .details .info .about .when, .listing-wrap .results .info .about .when,
        .listing-wrap .details .info .about .type,
        .listing-wrap .results .info .about .type {
          font-size: 1.2em;
          font-weight: 300; }
        .listing-wrap .details .info .about .when, .listing-wrap .results .info .about .when {
          margin-bottom: 5px; }
          .listing-wrap .details .info .about .when .date, .listing-wrap .results .info .about .when .date {
            font-size: .9em; }
          .listing-wrap .details .info .about .when .time, .listing-wrap .results .info .about .when .time {
            letter-spacing: .025em; }
        .listing-wrap .details .info .about .type .players, .listing-wrap .results .info .about .type .players {
          font-size: .88em; }
        .listing-wrap .details .info .about .type .stack, .listing-wrap .results .info .about .type .stack {
          color: #64d800;
          font-size: .89em; }
    .listing-wrap .details .notes, .listing-wrap .results .notes {
      background: #5e5e5e;
      padding-bottom: 20px; }
      .listing-wrap .details .notes h2, .listing-wrap .results .notes h2 {
        text-align: center;
        font-weight: 300;
        font-size: 1.4em;
        margin-bottom: 15px;
        background: #3b3b3b;
        padding: 13px 0; }
        .listing-wrap .details .notes h2.header-obj, .listing-wrap .results .notes h2.header-obj {
          color: #5ba4f2; }
        .listing-wrap .details .notes h2.header-rules, .listing-wrap .results .notes h2.header-rules {
          color: #ee471e; }
      .listing-wrap .details .notes .objectives, .listing-wrap .results .notes .objectives,
      .listing-wrap .details .notes .rules,
      .listing-wrap .results .notes .rules {
        padding: 0 15px; }
        .listing-wrap .details .notes .objectives li, .listing-wrap .results .notes .objectives li,
        .listing-wrap .details .notes .rules li,
        .listing-wrap .results .notes .rules li {
          margin-bottom: 10px;
          color: #dedede;
          position: relative;
          padding: 0 15px 0 35px;
          line-height: 1.5; }
          .listing-wrap .details .notes .objectives li:before, .listing-wrap .results .notes .objectives li:before,
          .listing-wrap .details .notes .rules li:before,
          .listing-wrap .results .notes .rules li:before {
            content: '';
            position: absolute;
            left: 13px;
            top: 5px;
            width: 10px;
            height: 10px; }
      .listing-wrap .details .notes .objectives, .listing-wrap .results .notes .objectives {
        margin-bottom: 20px; }
        .listing-wrap .details .notes .objectives li.active:before, .listing-wrap .results .notes .objectives li.active:before {
          background: #157dec; }
        .listing-wrap .details .notes .objectives li:before, .listing-wrap .results .notes .objectives li:before {
          border: 2px solid #157dec; }
      .listing-wrap .details .notes .rules, .listing-wrap .results .notes .rules {
        padding-bottom: 30px; }
        .listing-wrap .details .notes .rules li.active:before, .listing-wrap .results .notes .rules li.active:before {
          background: #ee471e; }
        .listing-wrap .details .notes .rules li:before, .listing-wrap .results .notes .rules li:before {
          border: 2px solid #ee471e; }
    .listing-wrap .details button.register, .listing-wrap .results button.register {
      width: 200px;
      background: #418b00;
      font-size: 1.3em;
      font-weight: 300;
      padding: 12px 0 15px;
      border-radius: 2px;
      margin: 20px auto 0;
      transition: background .2s; }
      .listing-wrap .details button.register:hover, .listing-wrap .results button.register:hover {
        background: #3c8100; }
      .listing-wrap .details button.register:active, .listing-wrap .results button.register:active {
        background: #377700; }
      .listing-wrap .details button.register.leave, .listing-wrap .results button.register.leave {
        background: #e32711; }
        .listing-wrap .details button.register.leave:hover, .listing-wrap .results button.register.leave:hover {
          background: #d52410; }
        .listing-wrap .details button.register.leave:active, .listing-wrap .results button.register.leave:active {
          background: #cb2310; }
    .listing-wrap .details button.results-btn, .listing-wrap .results button.results-btn {
      width: 200px;
      margin: 15px auto 0;
      background: #555;
      padding: 7px 0 10px;
      font-size: 1.2em;
      font-weight: 300;
      transition: background .2s;
      border-radius: 1px; }
      .listing-wrap .details button.results-btn:hover, .listing-wrap .results button.results-btn:hover {
        background: #525252; }
      .listing-wrap .details button.results-btn:active, .listing-wrap .results button.results-btn:active {
        background: #4f4f4f; }
      .listing-wrap .details button.results-btn.closed, .listing-wrap .results button.results-btn.closed {
        font-style: italic; }
        .listing-wrap .details button.results-btn.closed:hover, .listing-wrap .results button.results-btn.closed:hover, .listing-wrap .details button.results-btn.closed:active, .listing-wrap .results button.results-btn.closed:active {
          background: #555; }
    .listing-wrap .details .joined-notice, .listing-wrap .results .joined-notice {
      position: absolute;
      font-style: italic;
      font-weight: 300;
      font-size: 1.1em;
      bottom: 0;
      left: 0;
      color: #f9ce31;
      background: rgba(0, 0, 0, 0.2);
      padding: 20px 25px 20px 20px; }
  .listing-wrap .results .wrap {
    background: #444; }
    .listing-wrap .results .wrap .header {
      max-width: 450px;
      padding: 25px;
      margin: 0 auto; }
      .listing-wrap .results .wrap .header .title {
        color: #fff;
        text-align: center;
        font-size: 1.7em;
        font-weight: 300;
        transform: scaleY(1.03) skewX(-13deg);
        margin-bottom: 20px; }
      .listing-wrap .results .wrap .header .final-text {
        text-align: center;
        color: #aaa;
        background: #323232;
        width: 180px;
        margin: 0 auto 15px;
        padding: 4px 0 6px;
        font-weight: 300; }
      .listing-wrap .results .wrap .header .about {
        background: #333;
        color: #fff;
        padding: 10px 25px 13px;
        border-radius: 1px;
        font-weight: 300; }
        .listing-wrap .results .wrap .header .about .category {
          margin-bottom: 5px;
          text-align: center;
          font-size: 1.3em;
          color: #cfcfcf;
          transform: scaleY(0.95);
          line-height: .9; }
        .listing-wrap .results .wrap .header .about .players {
          margin-bottom: 3px; }
        .listing-wrap .results .wrap .header .about .stack {
          color: #64d800; }
  .listing-wrap .results .objectives {
    padding: 10px 10px 30px; }
    .listing-wrap .results .objectives .team-blue .header-red, .listing-wrap .results .objectives .team-blue .header-blue, .listing-wrap .results .objectives .team-red .header-red, .listing-wrap .results .objectives .team-red .header-blue {
      text-align: center;
      font-weight: 300;
      font-size: 1.4em;
      background: #3a3a3a;
      padding: 13px 0;
      text-align: center;
      width: 100%; }
      .listing-wrap .results .objectives .team-blue .header-red .win-text, .listing-wrap .results .objectives .team-blue .header-red .lose-text, .listing-wrap .results .objectives .team-blue .header-blue .win-text, .listing-wrap .results .objectives .team-blue .header-blue .lose-text, .listing-wrap .results .objectives .team-red .header-red .win-text, .listing-wrap .results .objectives .team-red .header-red .lose-text, .listing-wrap .results .objectives .team-red .header-blue .win-text, .listing-wrap .results .objectives .team-red .header-blue .lose-text {
        padding: 1px 15px 3px;
        margin-left: 15px;
        border-radius: 2px; }
      .listing-wrap .results .objectives .team-blue .header-red .win-text, .listing-wrap .results .objectives .team-blue .header-blue .win-text, .listing-wrap .results .objectives .team-red .header-red .win-text, .listing-wrap .results .objectives .team-red .header-blue .win-text {
        color: #51af00;
        border: 2px solid #51af00; }
      .listing-wrap .results .objectives .team-blue .header-red .lose-text, .listing-wrap .results .objectives .team-blue .header-blue .lose-text, .listing-wrap .results .objectives .team-red .header-red .lose-text, .listing-wrap .results .objectives .team-red .header-blue .lose-text {
        color: #ed2812;
        border: 2px solid #ed2812; }
    .listing-wrap .results .objectives .team-blue .list, .listing-wrap .results .objectives .team-red .list {
      background: #333;
      padding-top: 10px; }
      .listing-wrap .results .objectives .team-blue .list .head-wrap, .listing-wrap .results .objectives .team-red .list .head-wrap {
        padding-top: 5px;
        margin-bottom: 5px; }
        .listing-wrap .results .objectives .team-blue .list .head-wrap .head-text, .listing-wrap .results .objectives .team-red .list .head-wrap .head-text {
          font-weight: 300;
          font-size: 1.3em;
          color: #bbb;
          height: 100%;
          margin-right: 10px;
          color: #aaa; }
        .listing-wrap .results .objectives .team-blue .list .head-wrap .objective-amount, .listing-wrap .results .objectives .team-red .list .head-wrap .objective-amount {
          background: #282828;
          padding: 2px 10px 3px;
          font-size: 1.1em;
          font-weight: 700;
          margin-top: 3px; }
      .listing-wrap .results .objectives .team-blue .list ul, .listing-wrap .results .objectives .team-red .list ul {
        padding: 10px; }
        .listing-wrap .results .objectives .team-blue .list ul li, .listing-wrap .results .objectives .team-red .list ul li {
          margin-bottom: 10px;
          color: #dedede;
          position: relative;
          padding: 0 15px 0 35px;
          line-height: 1.5; }
          .listing-wrap .results .objectives .team-blue .list ul li:before, .listing-wrap .results .objectives .team-red .list ul li:before {
            content: '';
            position: absolute;
            left: 13px;
            top: 5px;
            width: 10px;
            height: 10px; }
    .listing-wrap .results .objectives .team-blue {
      margin-right: 10px; }
      .listing-wrap .results .objectives .team-blue .header-blue {
        color: #4497f0; }
      .listing-wrap .results .objectives .team-blue .list .objective-amount {
        color: #1e82ed; }
      .listing-wrap .results .objectives .team-blue ul li.active:before {
        background: #157dec; }
      .listing-wrap .results .objectives .team-blue ul li:before {
        border: 2px solid #157dec; }
    .listing-wrap .results .objectives .team-red .header-red {
      color: #ee3520; }
    .listing-wrap .results .objectives .team-red .list .objective-amount {
      color: #ee3520; }
    .listing-wrap .results .objectives .team-red ul li.active:before {
      background: #ee3520; }
    .listing-wrap .results .objectives .team-red ul li:before {
      border: 2px solid #ee3520; }
  .listing-wrap .listings .listing {
    color: #fff;
    padding: 25px;
    background: #333; }

.live {
  height: 260px;
  width: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 40px auto 0;
  position: relative;
  color: #fff; }
  .live .live-header {
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 13;
    padding: 10px 25px 14px;
    width: 100%;
    text-transform: uppercase;
    font-size: .9em;
    font-weight: 300;
    color: #ccc; }
  .live .view-now,
  .live .indicator {
    content: '';
    position: absolute;
    z-index: 15; }
  .live .view-now {
    top: 45px;
    color: #fff;
    font-size: .8em;
    left: 40px;
    background: #56b900;
    padding: 4px 10px 5px;
    border-radius: 1px; }
    .live .view-now .fa {
      margin-right: 6px; }
    .live .view-now:hover {
      background: #54b400; }
  .live .indicator {
    right: 40px;
    top: 25px;
    background: #64d800;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block; }
  .live .bg-overlay {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    z-index: 10; }
  .live .info {
    position: relative;
    z-index: 11;
    height: 100%;
    padding-top: 75px; }
    .live .info .title {
      color: #fff;
      margin-bottom: 35px;
      font-size: 2em;
      font-weight: 400;
      text-align: center;
      transform: scaleY(1.03) skewX(-13deg); }
    .live .info .about-wrap {
      background: rgba(40, 40, 40, 0.7);
      padding: 8px 0 10px 25px; }
      .live .info .about-wrap .about {
        margin-bottom: 5px;
        font-size: 1.1em; }
        .live .info .about-wrap .about .type,
        .live .info .about-wrap .about .category {
          margin-right: 15px; }
        .live .info .about-wrap .about .stack {
          color: #64d800; }
  .live button.details-btn {
    position: absolute;
    bottom: 15px;
    right: 25px;
    z-index: 11;
    background: #1e82ed;
    padding: 5px 15px;
    font-size: 1.025em; }
    .live button.details-btn:hover {
      background: #137beb; }
    .live button.details-btn:active {
      background: #1278e4; }
