// Grid Globals
.row,
.column {
  display: flex;
}

.column {
  flex-direction: column;
}

.x-center {
  justify-content: center;
}

.y-center {
  align-items: center;
}

.split {
  justify-content: space-between;
}

.top {
  align-items: flex-start;
}

.bottom {
  align-items: flex-end;
}

.content {
  padding: 100px 0 0 210px;
  &.no-bar {
    padding: 0 0 0 210px;
  }
}

.remove {
  opacity: 0;
  visibility: hidden;
}

// Lighter background for body
body.light {
  background: #ddd;
  .sidebar nav.main a.active {
    background: #3a3a3a;
  }
}

.hide {
  display: none;
}

.overlay {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  z-index: 501;
  transition: opacity .3s, visibility .3s;
}

.logo {
  svg {
    width: 170px;
  }
}

.styles-shadow-light {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
}