// Grid Globals
.row,
.column {
  display: flex;
}

.column {
  flex-direction: column;
}

.x-center {
  justify-content: center;
}

.y-center {
  align-items: center;
}

.split {
  justify-content: space-between;
}

.bottom {
  align-items: flex-end;
}

.content {
  padding: 100px 0 0 210px;
  &.no-bar {
    padding: 0 0 0 210px;
  }
}

.remove {
  opacity: 0;
  visibility: hidden;
}

// Lighter background for body
body.light {
  background: #ddd;
  .sidebar nav.main a.active {
    background: #3a3a3a;
  }
}

.hide {
  display: none;
}

.overlay {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 501;
  transition: opacity .3s, visibility .3s;
}

.logo {
  // slant the text and lower the vertical scale
  transform: skewX(-10deg) scaleY(0.95);
  color: #fff;
  font-size: 1.6em;
  padding: 7px 0;
  span {
    color: #69e200;
  }
}
