* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  background: #222;
}

a, button, ul li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
}

input {
  outline: none;
  border: none;
}

ul {
  list-style: none;
}
