.login {
  position: fixed;
  top: 12.3%;
  left: 40px;
  right: 0;
  margin: 0 auto;
  z-index: 502;
  background: #2a2a2a;
  width: 400px;
  border-radius: 2px;
  padding-bottom: 35px;
  transition: opacity .3s, visibility .3s;
  .create-text, #login-title {
    color: #fff;
    font-weight: 400;
    font-size: 1.7em;
    background: #3c3c3c;
    width: 100%;
    text-align: center;
    padding: 22px 0 24px;
    margin-bottom: 20px;
    .text-wrap {
      display: inline-block;
      transform: $skew;
    }
  }
  #login-title {
    .text-wrap {
      .green {
        color: $green;
      }
    }
  }
  #error {
    color: #f2482e;
    margin-top: -15px;
    padding-bottom: 7px;
    &:before {
      content: '\2217';
      font-size: 1.3em;
    }
  }
  input {
    padding: 10px;
    font-size: 1.2em;
    width: 300px;
    margin-bottom: 15px;
    border-radius: 1px;
  }
  #login-submit {
    padding: 13px 0;
    width: 300px;
    margin-top: 10px;
    font-size: 1.1em;
    font-weight: 300;
    text-transform: uppercase;
    background: darken($green, 3%);
    transition: background .2s;
    border-radius: 1px;
    &:hover {
      background: darken($green, 4%);
    }
    &:active {
      background: darken($green, 6%);
    }
  }
  .bottom {
    margin-top: 10px;
    color: #fff;
    span {
      margin: 0 2px;
    }
    #register, #forgot {
      cursor: pointer;
      transition: color .2s;
      &:hover {
        color: #eee;
      }
    }
  }
}