.sidebar {
  background: #222;
  width: 210px;
  height: 100vh;
  position: fixed;
  z-index: 500;
  left: 0;
  top: 0;
  padding: 15px 0; 
  nav.main {
    width: 100%;
    // Login/Register button
    #log {
      margin-top: 20px;
      font-family: 'Lato', sans-serif;
      background: #1e82ed;
      padding: 30px 0 33px;
      width: 100%;
      letter-spacing: .065em;
      transition: background .2s;
      color: #fff;
      position: relative;
      overflow: hidden; 
      &:after, &:before {
        content: '';
        position: absolute;
        background: #fff;
        left: 0;
        width: 0;
        height: 1px;
        opacity: .4; 
      }
      &:after {
        transition: width .2s;
        top: 68px; 
      }
      &:before {
        transition: width .2s .25s;
        top: 76px; 
      }
      &:hover {
        background: #3287ff; 
        &:after {
          width: 40%; 
        }
        &:before {
          width: 35%;
        }
        span.lines:after {
          width: 45%; 
        }
        span.lines:before {
          width: 50%; 
        }
      }
      // Animated Lines
      span.lines {
        display: inline-block;
        opacity: .4; 
        &:after, &:before {
          content: '';
          position: absolute;
          background: #fff;
          left: -40px;
          width: 0;
          height: 1px;
        }
        &:after {
          transition: width .2s .4s;
          top: 18px; 
        }
        &:before {
          transition: width .2s .3s;
          top: 25px; 
        }
      }
      span.text {
        transform: scaleY(1.03) skewX(-13deg);
        display: inline-block;
        font-size: 1.63em;
        font-weight: 400;
      }
    }
    // Menu Links
    a {
      width: 100%;
      text-transform: uppercase;
      transition: background .3s;
      padding-left: 5px;
      .fa, span {
        padding: 23px 0;
        color: #aaa; 
        transition: color .2s;
      }
      .fa {
        width: 25%;
        text-align: center;
        font-size: 1.4em; 
      }
      span {
        width: 75%;
        padding-left: 4px;
      }
      &.active, &:hover {
        .fa, span {
          color: #fff; 
        }
      }
      &.active {
        background: #323232; 
      }
    }
  }
  .footer {
    .message, .donate {
      width: 170px;
      text-transform: uppercase;
      border-radius: 1px;
      cursor: pointer;
      transition: background .2s;
    }
    .message {
      background: darken($green, 5%);
      &:hover {
        background: darken($green, 7%);
      }
      .fa, a {
        color: #222;
      }
      .fa {
        font-size: 1.13em;
        margin-right: 10px;
      }
      a {
        padding: 15px 0;
        font-size: .9em;
      }
    }
    .donate {
      background: #333;
      padding: 13px 0;
      text-align: center;
      color: #aaa;
      margin-top: 10px;
      &:hover {
        background: #373737;
      }
    }
  }
}
  