.top-bar {
  .create-btn {
    background: $blue;
    padding: 6px 15px 8px;
    margin: 0 15px -5px 0;
    border-radius: 2px;
    font-size: .95em;
    transition: background .2s;
    &:hover {
      background: darken($blue, 2.5%);
    }
    &:active {
      background: darken($blue, 5%);
    }
  }
  .admin-nav {
    .fa-user {
      position: relative;
      font-size: 1.5em;
      margin-left: 15px;
      color: #ddd;
      cursor: pointer;
      padding: 3px;
      &:hover {
        color: darken(#ddd, 7%);
        ul {
          opacity: 1;
          visibility: visible;
        }
      }
      ul {
        position: absolute;
        right: -5px;
        top: 42px;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s, visibility .3s;
        li {
          background: #5e5e5e;
          padding: 10px 15px;
          cursor: pointer;
          font-size: 16px;
          font-family: 'Lato', sans-serif;
          &:first-child {
            position: relative;
            &:before {
              content: '';
              position: absolute;
              top: -12px;
              right: 5px;
              width: 0;
              height: 0;
              border-left: 12px solid transparent;
              border-right: 12px solid transparent;
              border-bottom: 12px solid #5e5e5e;
            }
          }
          &:last-child {
            padding-bottom: 12px;
          }
          &:hover {
            background: darken(#5e5e5e, 3%);
            &:before {
              border-bottom: 12px solid darken(#5e5e5e, 3%);
            }
          }
        }
      }
    }   
  }
}

.admin {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: #ccc;
  z-index: 200;
  padding: 100px 0 0 210px;
}

.listing-wrap {
  margin: 0 auto 35px;
  .header-text {
    font-weight: 300;
    margin-bottom: 15px;
    background: lighten(#cecece, 2%);
    padding: 2px 0 5px 25px;
    font-size: 1.2em;
    color: #777;
  }
  .details {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    background: rgba(150, 150, 150, .7);
    width: 100%;
    min-height: 100vh;
    padding: 100px 0 25px 210px;
    border-radius: 1px;
    .details-content {
      position: relative;
      min-height: 500px;
      // Begin Bracket Display
      .bracket-display {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 800;
        width: 100%;
        height: 100%;
        padding: 25px 0;
        background: rgba(38, 38, 38, .9);
        .bracket-header {
          color: #ddd;
          margin-bottom: 20px;
          font-weight: 300;
          transform: $skew;
        }
        .bracket-wrap {
          width: 88%;
          height: 302px;
          position: relative;
          font-weight: 300;
          & > div {
            width: 33.333%;
            text-align: center;
            .team-header {
              margin-bottom: 20px;
              font-weight: 400;
            }
            .player-wrap {
              width: 100%;
              border-radius: 2px;
              padding: 10px;
              span {
                padding: 15px 0;
                width: 100%;
                border-radius: 2px;
                font-size: 1.1em;
                background: #333;
                position: relative;
                border: 2px solid #777;
                &:not(:last-child) {
                  margin-bottom: 20px;
                  &:after {
                    content: '';
                    position: absolute;
                    height: 22px;
                    width: 2px;
                    background: #777;
                    bottom: -22px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                  }
                }
              }
            }
          }
          .bracket-blue {
            left: 0;
            color: $blue;
            &:before {
              right: -24px;
            }
            span {
              &:after {
                right: -30px;
              }
            }
          }
          .bracket-red {
            right: 0;
            color: $red;
            &:before {
              left: -24px;
            }
            span {
              &:after {
                left: -30px;
              }
            }
          }
          .bracket-winner {
            margin: 0 auto;
            font-size: 1.2em;
            &:before {
              display: none;
            }
            span:not(.winner-header) {
              border: 2px solid #777;
              background: #333;
              margin-top: 26px;
              width: 80%;
              padding: 14px 0 17px;
              border-radius: 2px;
              position: relative;
              &:before, &:after {
                content: '';
                position: absolute;
                background: #777;
                height: 2px;
                top: 26px;
                width: 37px;
              }
              &:before {
                left: -37px;
              }
              &:after {
                right: -37px;
              }
              &.blue {
                color: $blue;
              }
              &.red {
                color: $red;
              }
            }
            .winner-header {
              color: #aaa;
              font-family: 'Lato', sans-serif;
              font-size: 1.4em;
              font-weight: 300;
              transform: $skew;
              position: relative;
              bottom: -12px;
            }
          }
        }
        .bracket-note {
          position: absolute;
          bottom: -20px;
          left: 0;
          right: 0;
          margin: 0;
          text-align: center;
          color: $orange;
          font-size: 1.1em;
        }
      }
      // End Bracket Display
      .edit-button {
        position: absolute;
        top: 10px;
        left: 15px;
        color: #fff;
        font-size: 1.3em;
        cursor: pointer;
        &:hover {
          color: #eee;
        }
      }
    }
    .info {
      color: #fff;
      width: 400px;
      background: #444;
      padding: 35px 0 25px;
      .title {
        color: #fff;
        text-align: center;
        font-size: 1.7em;
        font-weight: 300;
        transform: $skew;
        margin-bottom: 25px;
        padding: 0 25px;
      }
      .stream-alert {
        font-weight: 300;
        position: relative;
        top: -15px;
        margin-bottom: -5px;
        h3 {
          color: $orange;
          font-style: italic;
          font-weight: 300;
          margin-right: 20px;
        }
        .view-details {
          background: darken($green, 9%);
          padding: 3px 8px 4px;
          border-radius: 2px;
          cursor: pointer;
          transition: background .2s;
          .fa {
            margin-right: 4px;
            font-size: .9em;
          }
          &:hover {
            background: darken($green, 10%);
          }
          &:active {
            background: darken($green, 12%);
          }
        }
      }
      .about {
        background: #333;
        padding: 12px 25px 15px;
        .category {
          margin-bottom: 10px;
          text-align: center;
          font-weight: 300;
          font-size: 1.3em;
          color: #cfcfcf;
          transform: scaleY(.95);
        }
        .when,
        .type {
          font-size: 1.2em;
          font-weight: 300;
        }
        .when {
          margin-bottom: 5px;
          .date {
            font-size: .9em;
          }
          .time {
            letter-spacing: .025em;
          }
        }
        .type {
          .points {
            font-size: .88em;
          }
          .stack {
            color: $green;
            font-size: .89em;
          }
        }
      }
      #view-bracket {
        background: #4b4b4b;
        color: #dfdfdf;
        padding: 2px 8px 5px; 
        font-size: .95em;
        margin: 15px auto 0;
        border-radius: 1px;
        &:hover {
          background: darken(#4b4b4b, 1%);
        }
        &:active {
          background: darken(#4b4b4b, 2%);
        }
      }
    }
    .notes {
      background: #5e5e5e;
      padding-bottom: 20px;
      h2 {
        text-align: center;
        font-weight: 300;
        font-size: 1.4em;
        margin-bottom: 15px;
        background: #3b3b3b;
        padding: 13px 0;
        &.header-obj {
          color: lighten($blue, 13%);
        }
        &.header-rules {
          color: lighten(#ea3d12, 3%);
        }
      }
      .recommended,
      .rules {
        padding: 0 15px;
        li {
          margin-bottom: 10px;
          color: #dedede;
          position: relative;
          padding: 0 15px 0 35px;
          line-height: 1.5;
          &:before {
            content: '';
            position: absolute;
            left: 13px;
            top: 6px;
            width: 12px;
            height: 12px;
          }
        }
      }
      .recommended {
        margin-bottom: 20px;
        li:before {
          background: darken($blue, 2%);
        }
      }
      .rules {
        padding-bottom: 30px;
        li:before {
          background: lighten(#ea3d12, 3%);
        }
      }
    }
    button.register {
      width: 200px;
      background: darken($green, 15%);
      font-size: 1.3em;
      font-weight: 300;
      padding: 12px 0 15px;
      border-radius: 2px;
      margin: 20px auto 0;
      transition: background .2s;
      &:hover {
        background: darken($green, 17%);
      }
      &:active {
        background: darken($green, 19%);
      }
      &.leave {
        background: darken($red, 5%);
        &:hover {
          background: darken($red, 8%);
        }
        &:active {
          background: darken($red, 10%);
        }
      }
    }
    button.results-btn {
      width: 200px;
      margin: 15px auto 0;
      background: #555;
      padding: 7px 0 10px;
      font-size: 1.2em;
      font-weight: 300;
      transition: background .2s;
      border-radius: 1px;
      &:hover {
        background: darken(#555, 1.3%);
      }
      &:active {
        background: darken(#555, 2.2%);
      }
      &.closed {
        font-style: italic;
        &:hover,
        &:active {
          background: #555;
        }
      }
    }
    .joined-notice {
      position: absolute;
      font-style: italic;
      font-weight: 300;
      font-size: 1.1em;
      bottom: 0;
      left: 0;
      color: $orange;
      background: rgba(0, 0, 0, .2);
      padding: 20px 25px 20px 20px;
    }
  }
  .results {
    @extend .details;
    .wrap {
      background: #444;
      .header {
        max-width: 450px;
        padding: 25px 25px 0;
        margin: 0 auto;
        .title {
          color: #fff;
          text-align: center;
          font-size: 1.7em;
          font-weight: 300;
          transform: $skew;
          margin-bottom: 20px;
        }
        .final-text {
          text-align: center;
          color: #aaa;
          background: #323232;
          width: 180px;
          margin: 0 auto 15px;
          padding: 4px 0 6px;
          font-weight: 300;
        }
        .about {
          background: #333;
          color: #fff;
          padding: 10px 25px 13px;
          border-radius: 1px;
          font-weight: 300;
          .category {
            margin-bottom: 5px;
            text-align: center;
            font-size: 1.3em;
            color: #cfcfcf;
            transform: scaleY(.95);
            line-height: .9;
          }
          .points {
            margin-bottom: 3px;
          }
          .stack {
            color: $green;
          }
        }
        .tabs {
          margin: 15px 0;
          color: #ccc;
          ul {
            background: #333;
            width: auto;
            li {
              padding: 5px 15px 8px;
              font-size: 1.2em;
              font-weight: 300;
              cursor: pointer;
              &.active {
                background: #2a2a2a;
                position: relative;
                &:after {
                  content: '';
                  position: absolute;
                  bottom: -5px;
                  left: 0;
                  width: 100%;
                  height: 5px;
                  background: #5a5a5a;
                }
              }
            }
          }
        }
      }
    }
    .results-display {
      padding: 0 10px 15px;
      .team-blue, .team-red {
        .header-red, .header-blue {
          text-align: center;
          font-weight: 300;
          font-size: 1.4em;
          background: #353535;
          padding: 13px 0;
          text-align: center;
          width: 100%;
          .team-points {
            letter-spacing: .02em;
            color: $green;
            font-weight: 300;
            font-size: 14px;
            background: #2a2a2a;
            padding: 5px 6px 9px;
            border-radius: 2px;
            position: relative;
            margin-left: 15px;
            top: -3px;
            span {
              font-size: 1.2em;
              position: relative;
              top: 1px;
            }
            &.lose {
              color: $orange;
            }
          }
          .win-text, .lose-text {
            padding: 1px 15px 3px;
            margin-left: 15px;
            border-radius: 2px;
          }
          .win-text {
            color: darken($green, 8%);
            border: 2px solid darken($green, 8%);
          }
          .lose-text {
            color: darken($red, 3%);
            border: 2px solid darken($red, 3%);
          }
        }
        .list {
          background: #333;
          max-width: 400px;
          .overall-view {          
            @at-root .results-table {
              color: #ccc;
              width: 400px;
              border-collapse: collapse;
              thead {
                th {
                  background: #2a2a2a;
                  padding: 10px 5px 13px;
                  min-width: 110px;
                  font-size: 1.25em;
                  font-weight: 300;
                  color: #aaa;
                  border-bottom: 1px solid #222;
                }
              }
              th {
                font-weight: 300;
                color: #aaa;
                background: #212121;
                padding: 9px 15px 11px;
                font-size: 1.2em;
                border-bottom: 1px solid #1a1a1a;
                &:not(:last-child) {
                  border-right: 1px solid #1c1c1c;
                }
              }
              td {
                padding: 5px 15px;
                text-align: center;
                font-size: 1.3em;
                font-weight: 300;
                background: #2e2e2e;
                border-bottom: 1px solid #252525;
                &.total-amount {
                  background: #282828;
                  font-weight: 300;
                  font-size: 1.4em;
                }
              }
              .right-border {
                border-right: 1px solid #2a2a2a;
              }
              .bottom-border {
                border-bottom: 1px solid #2a2a2a;
              }
              .border-right-none {
                border-right: none;
              }
            }
          }
          .objectives-view {
            ul.rules {
              padding: 14px 10px 10px;
              background: #2a2a2a;
              li {
                margin-bottom: 10px;
                color: #dedede;
                position: relative;
                padding: 0 15px 0 35px;
                line-height: 1.5;
                -webkit-user-select: auto;
                -moz-user-select: auto;
                -ms-user-select: auto;
                user-select: auto;
                &:before {
                  content: '';
                  position: absolute;
                  left: 13px;
                  top: 5px;
                  width: 10px;
                  height: 10px;
                }
              }
            }
            .total-wrap {
              padding: 5px 0 8px;
              background: #212121;
              .total-text {
                font-weight: 300;
                font-size: 1.3em;
                color: #bbb;
                height: 100%;
                margin-right: 10px;
                color: #aaa;
              }
              .objective-amount {
                background: #171717;
                padding: 1px 12px 2px;
                font-size: 1.4em;
                margin-top: 3px;
              }
            }
          }
          .points-view {
            th {
              padding: 10px 10px 12px;
              .player-role {
                font-size: .8em;
                background: #1c1c1c;
                display: inline-block;
                padding: 2px 8px 4px;
                margin-left: 10px;
                text-transform: uppercase;
              }
              &.total-text {
                background: #1a1a1a;
                font-size: 1.4em;
                border-right: 1px solid #1a1a1a;
                border-bottom: none;
              }
            }
            thead th {
              padding: 10px 10px 12px;;
            }
            td {
              span:not(.plus) {
                background: #1b1b1b;
                padding: 2px 13px 4px;
                border-radius: 1px;
              }
              &.skill-points {
                color: darken($green, 3%);
                font-size: 1em;
                .plus {
                  font-size: 1.3em;
                  line-height: .8;
                  position: relative;
                  bottom: -2px;
                  margin-right: 3px;
                  display: inline-block;
                }
                &.lose {
                  color: $orange;
                }
              }
            }
          }
        }
      }
      // Settings specific to each team colors
      .team-blue {
        margin-right: 10px;
        .header-blue {
          color: lighten($blue, 8%);
        }
        .list {
          .overall-view, .voting-view {
            td {
              color: $blue;
            }
          }
          .objectives-view {
            .objective-amount {
              color: darken($blue, 2%);
            }
            ul {
              li.active:before {
                background: darken($blue, 2%);
              }
              li:before {
                border: 2px solid darken($blue, 2%);
              }
            }
          }
          .points-view {
            .player-role {
              color: lighten($blue, 3%);
            }
          }
        }
      }
      .team-red {
        .header-red {
          color: lighten(#ed2812, 3%);
        }
        .list {
          .overall-view, .voting-view {
            td {
              color: $red;
            }
          }
          .objectives-view {
            .objective-amount {
              color: $red;
            }
            ul {
              li.active:before {
                background: $red;
              }
              li:before {
                border: 2px solid $red;
              }
            }
          }
          .points-view {
            .player-role {
              color: lighten($red, 3%);
            }
          }
        }
      }
    }
  }
  .listings {
    .listing {
      color: #fff;
      padding: 25px;
      background: #333;
    }
  }
}

.live {
  height: 260px;
  width: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 40px auto 0;
  position: relative;
  color: #fff;
  .live-header {
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 13;
    padding: 10px 25px 14px;
    width: 100%;
    text-transform: uppercase;
    font-size: .9em;
    font-weight: 300;
    color: #ccc;
  }
  .view-now,
  .indicator {
    content: '';
    position: absolute;
    z-index: 15;
  }
  .view-now {
    top: 45px;
    color: #fff;
    font-size: .8em;
    left: 40px;
    background: darken($green, 6%);
    padding: 4px 10px 5px;
    border-radius: 1px;
    .fa {
      margin-right: 6px;
    }
    &:hover {
      background: darken($green, 7%);
    }
  }
  .indicator {
    right: 40px;
    top: 25px;
    background: $green;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
  }
  .bg-overlay {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    left: 0;
    top: 0;
    z-index: 10;
  }
  .info {
    position: relative;
    z-index: 11;
    height: 100%;
    padding-top: 75px;
    .title {
      color: #fff;
      margin-bottom: 35px;
      font-size: 2em;
      font-weight: 400;
      text-align: center;
      transform: $skew;
    }
    .about-wrap {
      background: rgba(40, 40, 40, .7);
      padding: 8px 0 10px 25px;
      .about {
        margin-bottom: 5px;
        font-size: 1.1em;
        .type,
        .category {
          margin-right: 15px;
        }
        .stack {
          color: $green;
        }
      }
    }
  }
  button.details-btn {
    position: absolute;
    bottom: 15px;
    right: 25px;
    z-index: 11;
    background: $blue;
    padding: 5px 15px;
    font-size: 1.025em;
    &:hover {
      background: darken($blue, 2.5%);
    }
    &:active {
      background: darken($blue, 4%);
    }
  }
}
