.top-bar {
  .create-btn {
    background: $blue;
    padding: 6px 15px 8px;
    margin: 0 15px -5px 0;
    border-radius: 2px;
    font-size: .95em;
    transition: background .2s;
    &:hover {
      background: darken($blue, 2.5%);
    }
    &:active {
      background: darken($blue, 5%);
    }
  }
}

.listing-wrap {
  margin: 0 auto 35px;
  .header-text {
    font-weight: 300;
    margin-bottom: 15px;
    background: lighten(#cecece, 2%);
    padding: 2px 0 5px 25px;
    font-size: 1.2em;
    color: #777;
  }
  .details {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    background: rgba(150, 150, 150, .7);
    width: 100%;
    min-height: 100vh;
    padding: 100px 0 25px 210px;
    border-radius: 1px;
    &>div {
      position: relative;
      .admin-panel {
        position: absolute;
        top: 10px;
        left: 15px;
        .fa {
          color: #fff;
          font-size: 1.3em;
          cursor: pointer;
          &:hover {
            color: #eee;
          }
        }
      }
    }
    .info {
      color: #fff;
      width: 400px;
      background: #444;
      padding: 35px 0 25px;
      .title {
        color: #fff;
        text-align: center;
        font-size: 1.7em;
        font-weight: 300;
        transform: $skew;
        margin-bottom: 25px;
        padding: 0 25px;
      }
      .stream-alert {
        font-weight: 300;
        position: relative;
        top: -15px;
        margin-bottom: -5px;
        h3 {
          color: $orange;
          font-style: italic;
          font-weight: 300;
          margin-right: 20px;
        }
        .view-details {
          background: darken($green, 9%);
          padding: 3px 8px 4px;
          border-radius: 2px;
          cursor: pointer;
          transition: background .2s;
          .fa {
            margin-right: 4px;
            font-size: .9em;
          }
          &:hover {
            background: darken($green, 10%);
          }
          &:active {
            background: darken($green, 12%);
          }
        }
      }
      .about {
        background: #333;
        padding: 12px 25px 25px;
        .category {
          margin-bottom: 10px;
          text-align: center;
          font-weight: 300;
          font-size: 1.3em;
          color: #cfcfcf;
          transform: scaleY(.95);
        }
        .when,
        .type {
          font-size: 1.2em;
          font-weight: 300;
        }
        .when {
          margin-bottom: 5px;
          .date {
            font-size: .9em;
          }
          .time {
            letter-spacing: .025em;
          }
        }
        .type {
          .players {
            font-size: .88em;
          }
          .stack {
            color: $green;
            font-size: .89em;
          }
        }
      }
    }
    .notes {
      background: #5e5e5e;
      padding-bottom: 20px;
      h2 {
        text-align: center;
        font-weight: 300;
        font-size: 1.4em;
        margin-bottom: 15px;
        background: #3b3b3b;
        padding: 13px 0;
        &.header-obj {
          color: lighten($blue, 13%);
        }
        &.header-rules {
          color: lighten(#ea3d12, 3%);
        }
      }
      .objectives,
      .rules {
        padding: 0 15px;
        li {
          margin-bottom: 10px;
          color: #dedede;
          position: relative;
          padding: 0 15px 0 35px;
          line-height: 1.5;
          &:before {
            content: '';
            position: absolute;
            left: 13px;
            top: 5px;
            width: 10px;
            height: 10px;
          }
        }
      }
      .objectives {
        margin-bottom: 20px;
        li.active:before {
          background: darken($blue, 2%);
        }
        li:before {
          border: 2px solid darken($blue, 2%);
        }
      }
      .rules {
        padding-bottom: 30px;
        li.active:before {
          background: lighten(#ea3d12, 3%);
        }
        li:before {
          border: 2px solid lighten(#ea3d12, 3%);
        }
      }
    }
    button.register {
      width: 200px;
      background: darken($green, 15%);
      font-size: 1.3em;
      font-weight: 300;
      padding: 12px 0 15px;
      border-radius: 2px;
      margin: 20px auto 0;
      transition: background .2s;
      &:hover {
        background: darken($green, 17%);
      }
      &:active {
        background: darken($green, 19%);
      }
      &.leave {
        background: darken($red, 5%);
        &:hover {
          background: darken($red, 8%);
        }
        &:active {
          background: darken($red, 10%);
        }
      }
    }
    button.results-btn {
      width: 200px;
      margin: 15px auto 0;
      background: #555;
      padding: 7px 0 10px;
      font-size: 1.2em;
      font-weight: 300;
      transition: background .2s;
      border-radius: 1px;
      &:hover {
        background: darken(#555, 1.3%);
      }
      &:active {
        background: darken(#555, 2.2%);
      }
      &.closed {
        font-style: italic;
        &:hover,
        &:active {
          background: #555;
        }
      }
    }
    .joined-notice {
      position: absolute;
      font-style: italic;
      font-weight: 300;
      font-size: 1.1em;
      bottom: 0;
      left: 0;
      color: $orange;
      background: rgba(0, 0, 0, .2);
      padding: 20px 25px 20px 20px;
    }
  }
  .results {
    @extend .details;
    .wrap {
      background: #444;
      .header {
        max-width: 450px;
        padding: 25px 25px 0;
        margin: 0 auto;
        .title {
          color: #fff;
          text-align: center;
          font-size: 1.7em;
          font-weight: 300;
          transform: $skew;
          margin-bottom: 20px;
        }
        .final-text {
          text-align: center;
          color: #aaa;
          background: #323232;
          width: 180px;
          margin: 0 auto 15px;
          padding: 4px 0 6px;
          font-weight: 300;
        }
        .about {
          background: #333;
          color: #fff;
          padding: 10px 25px 13px;
          border-radius: 1px;
          font-weight: 300;
          .category {
            margin-bottom: 5px;
            text-align: center;
            font-size: 1.3em;
            color: #cfcfcf;
            transform: scaleY(.95);
            line-height: .9;
          }
          .players {
            margin-bottom: 3px;
          }
          .stack {
            color: $green;
          }
        }
        .tabs {
          margin: 15px 0;
          color: #ccc;
          ul {
            background: #333;
            width: auto;
            li {
              padding: 5px 15px 8px;
              font-size: 1.2em;
              font-weight: 300;
              cursor: pointer;
              &.active {
                background: #2a2a2a;
                position: relative;
                &:after {
                  content: '';
                  position: absolute;
                  bottom: -5px;
                  left: 0;
                  width: 100%;
                  height: 5px;
                  background: #5a5a5a;
                }
              }
            }
          }
        }
      }
    }
    .results-display {
      padding: 0 10px 15px;
      .team-blue, .team-red {
        .header-red, .header-blue {
          text-align: center;
          font-weight: 300;
          font-size: 1.4em;
          background: #353535;
          padding: 13px 0;
          text-align: center;
          width: 100%;
          .win-text, .lose-text {
            padding: 1px 15px 3px;
            margin-left: 15px;
            border-radius: 2px;
          }
          .win-text {
            color: darken($green, 8%);
            border: 2px solid darken($green, 8%);
          }
          .lose-text {
            color: darken($red, 3%);
            border: 2px solid darken($red, 3%);
          }
        }
        .list {
          background: #333;
          max-width: 400px;
          .overall-view {          
            @at-root .overall-table {
              color: #ccc;
              width: 400px;
              border-collapse: collapse;
              thead {
                th {
                  background: #2a2a2a;
                  padding: 10px 5px 13px;
                  min-width: 110px;
                  font-size: 1.25em;
                  font-weight: 300;
                  color: #aaa;
                  border-bottom: 1px solid #1a1a1a;
                }
              }
              th {
                font-weight: 300;
                color: #aaa;
                background: #212121;
                padding: 9px 15px 11px;
                font-size: 1.2em;
                border-right: 1px solid #1a1a1a;
                border-bottom: 1px solid #1a1a1a;
                &.total-text {
                  background: #1a1a1a;
                  font-size: 1.4em;
                  border-right: 1px solid #1a1a1a;
                  border-bottom: none;
                }
              }
              td {
                padding: 5px 15px;
                text-align: center;
                font-size: 1.4em;
                font-weight: 300;
                border-bottom: 1px solid #272727;
                &.total-amount {
                  background: #2a2a2a;
                  &.win {
                    color: $green;
                  }
                  &.lose {
                    color: $red;
                  }
                }
                span {
                  background: #1b1b1b;
                  padding: 2px 13px 4px;
                  border-radius: 1px;
                }
              }
              .right-border {
                border-right: 1px solid #2a2a2a;
              }
              .bottom-border {
                border-bottom: 1px solid #2a2a2a;
              }
              .border-right-none {
                border-right: none;
              }
            }
          }
          .objectives-view {
            .head-wrap {
              padding: 5px 0 8px;
              background: #2b2b2b;
              .head-text {
                font-weight: 300;
                font-size: 1.3em;
                color: #bbb;
                height: 100%;
                margin-right: 10px;
                color: #aaa;
              }
            }
            .objective-amount {
              background: #242424;
              padding: 5px 10px;
              font-size: 1.1em;
              font-weight: 700;
              margin-top: 3px;
            }
            ul.rules {
              padding: 14px 10px 10px;
              background: #242424;
              li {
                margin-bottom: 10px;
                color: #dedede;
                position: relative;
                padding: 0 15px 0 35px;
                line-height: 1.5;
                -webkit-user-select: auto;
                -moz-user-select: auto;
                -ms-user-select: auto;
                user-select: auto;
                &:before {
                  content: '';
                  position: absolute;
                  left: 13px;
                  top: 5px;
                  width: 10px;
                  height: 10px;
                }
              }
            } 
          }
        }
      }
      // Settings specific to each team colors
      .team-blue {
        margin-right: 10px;
        .header-blue {
          color: lighten($blue, 8%);
        }
        .list {
          .overall-view {
            td {
              color: $blue;
            }
            td.win {
              color: $green;
            }
            td.lose {
              color: $red;
            }
          }
          .objectives-view {
            .objective-amount {
              color: $blue;
            }
            ul {
              li.active:before {
                background: darken($blue, 2%);
              }
              li:before {
                border: 2px solid darken($blue, 2%);
              }
            }
          }
        }
      }
      .team-red {
        .header-red {
          color: lighten(#ed2812, 3%);
        }
        .list {
          .overall-view {
            td {
              color: red;
            }
            td.win {
              color: $green;
            }
            td.lose {
              color: $red;
            }
          }
          .objectives-view {
            .objective-amount {
              color: $red;
            }
            ul {
              li.active:before {
                background: $red;
              }
              li:before {
                border: 2px solid $red;
              }
            }
          }
        }
      }
    }
  }
  .listings {
    .listing {
      color: #fff;
      padding: 25px;
      background: #333;
    }
  }
}

.live {
  height: 260px;
  width: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 40px auto 0;
  position: relative;
  color: #fff;
  .live-header {
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 13;
    padding: 10px 25px 14px;
    width: 100%;
    text-transform: uppercase;
    font-size: .9em;
    font-weight: 300;
    color: #ccc;
  }
  .view-now,
  .indicator {
    content: '';
    position: absolute;
    z-index: 15;
  }
  .view-now {
    top: 45px;
    color: #fff;
    font-size: .8em;
    left: 40px;
    background: darken($green, 6%);
    padding: 4px 10px 5px;
    border-radius: 1px;
    .fa {
      margin-right: 6px;
    }
    &:hover {
      background: darken($green, 7%);
    }
  }
  .indicator {
    right: 40px;
    top: 25px;
    background: $green;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
  }
  .bg-overlay {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    left: 0;
    top: 0;
    z-index: 10;
  }
  .info {
    position: relative;
    z-index: 11;
    height: 100%;
    padding-top: 75px;
    .title {
      color: #fff;
      margin-bottom: 35px;
      font-size: 2em;
      font-weight: 400;
      text-align: center;
      transform: $skew;
    }
    .about-wrap {
      background: rgba(40, 40, 40, .7);
      padding: 8px 0 10px 25px;
      .about {
        margin-bottom: 5px;
        font-size: 1.1em;
        .type,
        .category {
          margin-right: 15px;
        }
        .stack {
          color: $green;
        }
      }
    }
  }
  button.details-btn {
    position: absolute;
    bottom: 15px;
    right: 25px;
    z-index: 11;
    background: $blue;
    padding: 5px 15px;
    font-size: 1.025em;
    &:hover {
      background: darken($blue, 2.5%);
    }
    &:active {
      background: darken($blue, 4%);
    }
  }
}
